<section>
  <div class="container">
    <div class="row py-5">
      <div class="col-md-6 mx-auto d-block text-center">
        <div class="error-template">
          <h1>Oops!</h1>
          <h2>404 Página no encontrada</h2>
          <div class="error-details">
            <h3>
            Disculpe, es posible que la página que está buscando se haya eliminado, haya
            cambiado de nombre o no esté disponible temporalmente.
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img
        src="../../../assets/NoMeLaContes.png"
        alt=""
        class="mx-auto d-block"
      />
    </div>
  </div>
</section>
