body{
    background-image: url('src/assets/office.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 110vh;
}
table{
    width: 70%;
}