.carousel-caption {
  background-color: #3135385e;
  margin-bottom: 10%;
  padding: 50px 100px;
  width: 50%;
  border-radius: 6px;
}

.carousel-caption p a i {
  font-size: 20px;
}
.carousel-caption h5 {
  font-size: 36px;
  text-transform: uppercase;
}

@media only screen and (max-width: 1600px) {
  .carousel-caption {
    margin-bottom: 10%;
    width: 70%;
  }
}

@media only screen and (max-width: 1300px) {
  .carousel-caption {
    margin-bottom: 5%;
  }
  .carousel-caption h5 {
    font-size: 30px;
  }

  .carousel-caption p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 960px) {
  .carousel-caption {
    margin-bottom: 0%;
  }
}

@media only screen and (max-width: 767px) {
  .carousel-caption {
    margin-bottom: 5%;
    padding: 25px;
  }
  .carousel-caption h5 {
    font-size: 20px;
  }

  .carousel-caption p {
    font-size: 12px;
  }
}

@media only screen and (max-width: 400px) {
  .carousel-caption {
    margin-bottom: 0%;
  }
}

.subtitulos {
  font-size: 50px;
  color: #1092ff;
  line-height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

agm-map {
  width: 100vw;
  height: 75vh;
}

hr {
  border: 15px solid #070606;
}

.quienesSomos {
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  font-weight: normal;
}
